.review-form {
    background: var(--cl--1--);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--shadow--);
    margin-bottom: 30px;
}

.review-form .form-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--cl--2--);
    margin-bottom: 1em;
    text-align: center;
}

.review-form .form-group {
    margin-bottom: 1.5rem;
}

.form-title span {
    color: var(--cl--3--);
    font-family: "DynaPuff", cursive;
}

.rating-title {
    color: var(--cl--3--);
    font-family: "DynaPuff", cursive;
}

.review-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}

.rating-stars {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.rating-stars input[type="radio"] {
    display: none;
}

.rating-stars label {
    cursor: pointer;
    font-size: 1.5rem;
    color: #ccc;
    transition: color 0.2s;
}

.rating-stars input:checked~label,
.rating-stars label:hover,
.rating-stars label:hover~label {
    color: var(--cl--4--);
}