<link rel="stylesheet" href="/css/header.css">

<header class="row">
    <a href="/" class="logo"><img src="/assets/images/logo.png" alt="Logo"></a>
    <div class="toggle-menu" onclick="toggleMenu();"></div>
    <nav class="navigation row">
        <ul class="row">
            <li><a href="/">Inicio</a></li>
            <li><a href="/tienda">Dispositivos GPS</a></li>
            <li><a href="/rastrea-tu-mascota">Rastrea Tu mascota</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/login" class="page-btn active">Ingresar</a></li>
            <li><a href="#" class="page-btn" style="font-size: 13px;">Guardian Pet App</a></li>
            <li class="lightDark" onclick="lightDark()"></li>
        </ul>
    </nav>
</header>

<script src="/js/nav.js"></script>
