<link rel="stylesheet" href="/css/index/about.css">

<section class="about row flex container" id="about">
    {{#each pageInfo}}
    <div class="about-content">
        <h2>Sobre <span>Nosotros</span></h2>
        <h3>{{about_us_title}}</h3>
        <p>{{about_us_text}}</p>
        <p>{{about_us_text_2}}</p>
        <a href="#" class="page-btn">
            Mas información
        </a>
    </div>
    {{/each}}
    <div class="about-img row">
        <img src="/assets/images/about.png" alt="">
    </div>
</section>