<link rel="stylesheet" href="/css/index/suscribe.css">

<section class="suscribe" id="contact">
    <div class="suscribe-content row container">
        <div>
            <h2><span>Suscríbete</span> a nuestro boletín</h2>
            <form action="" class="row">
                <div class="input row">
                    <i class="fi fi-rr-envelope"></i>
                    <input type="email" name="" id="" placeholder="Ingresa tu correo electrónico">
                </div>
                <button type="submit" class="page-btn row">
                    Suscribirse al boletin informativo
                </button>
            </form>
        </div>
    </div>
</section>