<link rel="stylesheet" href="/css/profileUser/profile-user.css">

<section class="profile" id="profile">
    <div class="container">
        <div class="profile-card">
            {{> userProfile/updateUserPhoto }}
            {{> userProfile/profileUserInfo }}
            {{> userProfile/registerPet }}
            {{> userProfile/updateUserData }}
        </div>
    </div>
</section>