<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/store.css">

<section class="product" id="product">
    <div class="container">
        {{> filtersStore }}
        {{> productStore }}
        {{> paginationStore }}
    </div>
</section>