
<link rel="stylesheet" href="/css/store/store.css">

<section class="product" id="product">
    <div class="container">
        {{> store/filtersStore }}
        {{> store/productStore }}
        {{> store/paginationStore }}
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/store/products.socket.js"></script>