<link rel="stylesheet" href="/css/store/ticket.css">

<section class="container ticket-container row flex">
  <div class="form-user">
    {{> store/ticketForm }}
  </div>
  <div class="ticket-content">
    {{> store/ticket }}
  </div>
</section>