.pets-card {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 30px;
    padding: 10px;
}

.pet-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    cursor: pointer;
}

.pet-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.pet-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}

.pet-info {
    padding: 10px;
    text-align: left;
}

.pet-info h3 {
    text-align: center;
    margin: 0 0 12px;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--cl--2--);
    font-family: "DinaPuff", cursive;
    letter-spacing: 0.5px;
}

.pet-info p {
    margin: 6px 0;
    font-size: 0.95rem;
    color: var(--cl--2--);
    display: flex;
    justify-content: space-between;
}

.pet-info p span {
    font-weight: 600;
    color: var(--cl--3--);
}

.pet-btns {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    
}

.pets-card p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1rem;
    color: var(--cl--2--);
    border-radius: 12px;
}

.delete {
    background-color: var(--cl--1--);
    color: #ff4d4d;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #ff4d4d;
    font-size: 0.9rem;
    cursor: pointer;
}

.delete:hover {
    background-color: #ff4d4d;
    color: var(--cl--1--);
    border: 1px solid #ff4d4d;
}

.edit {
    background-color: var(--cl--1--);
    color: var(--cl--3--);
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid var(--cl--3--);
    font-size: 0.9rem;
}

.edit:hover {
    background-color: var(--cl--3--);
    color: var(--cl--1--);
    border: 1px solid var(--cl--1--);
}

.track {
    background-color: var(--cl--1--);
    color: var(--cl--3--);
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid var(--cl--3--);
    font-size: 0.9rem;
}

.track:hover {
    background-color: var(--cl--3--);
    color: var(--cl--1--);
    border: 1px solid var(--cl--1--);
}