.profile {
    padding: 6em 0;
    margin-top: -60px;
    background: var(--cl--5--);
}

.profile h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cl--2--);
    margin-bottom: 2em;
}

.profile h2 span {
    color: var(--cl--3--);
    font-family: "DynaPuff", cursive;
    font-weight: 700;
}

.profile-card {
    max-width: 700px;
    margin: 0 auto;
    background: var(--bg--1--);
    padding: 2em;
    border-radius: 16px;
    box-shadow: var(--shadow--);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.profile-photo p {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cl--3--);
    text-align: center;
}

.profile-photo p:hover {
    color: var(--cl--3--);
    text-decoration: none;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--cl--3--);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.profile-info {
    text-align: center;
}

.profile-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cl--2--);
    margin-bottom: 1em;
}

.profile-info p {
    font-size: 1rem;
    color: var(--cl--2--);
    margin-bottom: 0.5em;
}

.profile-info span {
    font-weight: 600;
    color: var(--cl--3--);
}

.delete-account {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-account:hover {
    background-color: white;
    color: #ff4d4d;
    border: 2px solid #ff4d4d;
}

.profile-actions {
    margin-top: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.swal-popup {
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
}

.swal-confirm-btn {
    margin-top: 1em;
    background: var(--cl--3--);
    color: var(--cl--1--);
    padding: 0.8em 1.5em;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    width: 100%;
}

.swal-cancel-btn {
    background: #ddd;
    color: #333;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 20px;
}