<div class="filters row">
    <select name="category" id="category">
        <option value="all">Todos los productos</option>
        <option value="collar">Collares GPS</option>
        <option value="arnes">Arneses GPS</option>
        <option value="portatil">Dispositivos Portátiles</option>
    </select>
    <select name="price" id="price">
        <option value="all">Todos los precios</option>
        <option value="low">Menor precio</option>
        <option value="high">Mayor precio</option>
    </select>
    <input type="text" placeholder="Buscar producto..." id="search">
</div>