<div class="pagination row">
    <a href="#" class="page-btn">« Anterior</a>
    <a href="#" class="page-btn active">1</a>
    <a href="#" class="page-btn">2</a>
    <a href="#" class="page-btn">3</a>
    <a href="#" class="page-btn">Siguiente »</a>
</div>