<div class="product-card column grid">
    <div class="p-card">
        <div class="img row">
            <img src="/assets/images/p1.png" alt="Collar con GPS Guardian Pet">
            <div class="p-content">
                <h3>Collar con GPS Guardian Pet</h3>
                <p>Collar compacto y ligero con dispositivo GPS integrado para mayor seguridad.</p>
                <a href="#" class="page-btn">
                    Comprar ahora <i class="fi fi-rr-shopping-cart-add"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="p-card">
        <div class="img row">
            <img src="/assets/images/p2.png" alt="Arnés táctico con GPS Guardian Pet">
            <div class="p-content">
                <h3>Arnés Táctico con GPS</h3>
                <p>Arnés resistente y cómodo con dispositivo GPS integrado para mayor seguridad.</p>
                <a href="#" class="page-btn">
                    Comprar ahora <i class="fi fi-rr-shopping-cart-add"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="p-card">
        <div class="img row">
            <img src="/assets/images/p3.png" alt="Dispositivo portátil Guardian Pet">
            <div class="p-content">
                <h3>Dispositivo Portátil Guardian Pet</h3>
                <p>GPS portátil adaptable a diferentes accesorios, ideal para viajes y actividades al aire
                    libre.</p>
                <a href="#" class="page-btn">
                    Comprar ahora <i class="fi fi-rr-shopping-cart-add"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="p-card">
        <div class="img row">
            <img src="/assets/images/p3.png" alt="Dispositivo portátil Guardian Pet">
            <div class="p-content">
                <h3>Dispositivo Portátil Guardian Pet</h3>
                <p>GPS portátil adaptable a diferentes accesorios, ideal para viajes y actividades al aire
                    libre.</p>
                <a href="#" class="page-btn">
                    Comprar ahora <i class="fi fi-rr-shopping-cart-add"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="p-card">
        <div class="img row">
            <img src="/assets/images/p3.png" alt="Dispositivo portátil Guardian Pet">
            <div class="p-content">
                <h3>Dispositivo Portátil Guardian Pet</h3>
                <p>GPS portátil adaptable a diferentes accesorios, ideal para viajes y actividades al aire
                    libre.</p>
                <a href="#" class="page-btn">
                    Comprar ahora <i class="fi fi-rr-shopping-cart-add"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="p-card">
        <div class="img row">
            <img src="/assets/images/p3.png" alt="Dispositivo portátil Guardian Pet">
            <div class="p-content">
                <h3>Dispositivo Portátil Guardian Pet</h3>
                <p>GPS portátil adaptable a diferentes accesorios, ideal para viajes y actividades al aire
                    libre.</p>
                <a href="#" class="page-btn">
                    Comprar ahora <i class="fi fi-rr-shopping-cart-add"></i>
                </a>
            </div>
        </div>
    </div>
</div>