<div id="modal-terms" class="modal-terms">
    <div class="modal-content-terms">
        <span class="close-terms">&times;</span>
        <div class="terms__modal-wrapper section">
            <div class="terms">
                terms
            </div>
        </div>
    </div>
</div>