<link rel="stylesheet" href="/css/profileAdmin/products.css" />

<section class="admin-section">
    <h2>Productos <span>Registrados</span></h2>
    <div id="productsContainer"></div>
    <div id="productsPagination" class="pagination"></div>
    <h2>Agregar <span>Producto</span></h2>
    <form id="addProductForm" enctype="multipart/form-data" class="product-form">
        <input type="text" name="title" placeholder="Ingrese el nombre del producto" required />
        <input type="number" name="price" placeholder="Ingrese el precio del producto" required />
        <textarea name="description" placeholder="Ingrese la descripción del producto" required></textarea>
        <input type="number" name="stock" placeholder="Stock disponible" required />
        <select name="category">
            <option value="">Seleccione una categoría</option>
            {{#each categories}}
            <option value="{{this.category}}">{{this.category}}</option>
            {{/each}}
        </select>
        <input type="text" name="brand" placeholder="Ingrese la marca del producto" required />
        <select name="type_product">
            <option value="">Tipo de producto</option>
            <option value="destacado">Destacado</option>
            <option value="nuevo arribo">Nuevo Arribo</option>
            <option value="oferta">Oferta</option>
            <option value="mas vendido">Más Vendido</option>
        </select>
        <input type="number" name="offer_percentage" placeholder="Ingrese el % de oferta (0-100)" min="0" max="100" />
        <label for="image">Añadir imagen principal del prodcuto</label>
        <input type="file" name="image" id="image" accept="image/*" required />
        <div id="thumbnailsContainer"></div>
        <button type="button" id="addThumbnailBtn" class="page-btn admin"><i class="fi fi-rr-plus-small"></i> Añadir
            imagenes miniatura</button>
        <button type="submit" class="page-btn admin">Crear Producto</button>
    </form>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/profileAdmin/products.js"></script>