<link rel="stylesheet" href="/css/profileUser/getPetsUser.css">
<link rel="stylesheet" href="/css/profileUser/updatePetsUser.css">

<a href="#" class="page-btn view-pets" id="view-pets">
    Mis mascotas registradas <i class="fi fi-rr-paw"></i>
</a>

<div class="pet-card">
    <div class="profile-info">
        <div class="pets-card"></div>
    {{> userProfile/updatePet }}
    </div>
</div>

<script src="/js/profileUser/pets.js"></script>