<div class="profile-info">
    <h3 id="user-name"></h3>
    <p><span>Email:</span> <span id="user-email"></span></p>
    <p><span>Rol:</span> <span id="user-rol"></span></p>
    <p><span>Teléfono:</span> <span id="user-telefono"></span></p>
    <p><span>Dirección:</span> <span id="user-direccion"></span></p>
    <p><span>Ciudad:</span> <span id="user-ciudad"></span></p>
    <p><span>Género:</span> <span id="user-genero"></span></p>
    <p><span>Edad:</span> <span id="user-edad"></span></p>
    <div class="btn-group">
        {{> userProfile/petCards }}
        {{> userProfile/ticketsCards }}
    </div>
</div>