<div class="profile-actions">
    <a href="#" class="page-btn" id="register-pet">
        Registro de mascotas <i class="fi fi-rr-paw"></i>
    </a>
    <a href="#" class="page-btn" id="update-account-btn">
        Editar Datos <i class="fi fi-rr-edit"></i>
    </a>
</div>
<div class="profile-actions" style="margin-top: -20px;">
    <a href="#" class="page-btn delete-account" id="delete-account-btn">
        Eliminar cuenta <i class="fi fi-rr-trash"></i>
    </a>
    <a href="#" class="page-btn delete-account" id="logout">
        Salir <i class="fi fi-rr-trash"></i>
    </a>
</div>