<a href="#" class="page-btn view-tickets" id="view-tickets">
    Compras Realizadas <i class="fi fi-rr-shop"></i>
</a>

<section class="tickets-history container">
    <div class="tickets-list" id="tickets-list"></div>
</section>

<script src="/js/profileUser/tickets.js"></script>