<link rel="stylesheet" href="/css/profileUser/update-user.css">

<section class="update" id="update-user">
    <div class="container">
        <h2>Actualizar datos <span>Personales</span></h2>
        <form action="#" class="update-form">
            <div class="input-group">
                <label for="name">Nombre completo</label>
                <input type="text" id="name" name="nombre" required>
            </div>
            <div class="input-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" readonly>
            </div>
            <div class="input-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" name="ciudad" required>
            </div>
            <div class="input-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" required>
            </div>
            <div class="input-group">
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono" required>
            </div>
            <div class="input-group">
                <label for="edad">Edad</label>
                <input type="text" id="edad" name="edad" required>
            </div>
            <div class="input-group">
                <label for="genero">Género</label>
                <select id="genero" name="genero" required>
                    <option value="">Seleccione...</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
            </div>
            <button type="submit" class="page-btn">Actualizar datos <i class="fi fi-rr-user-add"></i></button>
        </form>
    </div>
</section>

<script src="/js/profileUser/updateData.js"></script>
