<div class="profile-photo">
    <img src="/assets/images/avatar.jpg" alt="Foto de usuario" id="user-photo">
    <p id="update-photo">Subir foto</p>
    <input type="file" id="file-input" name="foto" accept="image/*" style="display: none;">
</div>

<script src="/js/profileUser/updatePhoto.js"></script>